pandas==2.2.3
haystack-ai==2.14.3
openpyxl==3.1.5
hypster==0.3.8
python-dotenv==1.0.1
milvus-haystack==0.0.13
jieba==0.42.1
fastembed-haystack==1.4.0
ollama==0.3.3
ollama-haystack==1.1.0
scikit-learn==1.6.0
torch==2.6.0
accelerate
transformers==4.52.4
fastembed==0.5.0
XlsxWriter==3.2.2
pymilvus==2.5.9
sentence-transformers==3.3.1
tiktoken
fastapi
uvicorn
loguru
httpx
pydantic
more_itertools
tqdm
jinja2
networkx
python-louvain






